PORT=4000
AUTH_SERVICE_URL=http://auth-service:4001
USER_SERVICE_URL=http://user-service:4002
PRODUCT_SERVICE_URL=http://product-service:4003
CART_SERVICE_URL=http://cart-service:4004
ORDER_SERVICE_URL=http://order-service:4005
REDIS_URL=redis://redis:6379
JWT_SECRET=super-secret-change-me

