SERVICE_NAME=order-service
SERVICE_PORT=4005
DATABASE_URL=postgresql://postgres:postgres@localhost:5437/order_db?schema=public
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://guest:guest@localhost:5672
